<% include ../partials/header %>

<div class="container">
    <h1 style="text-align: center;">Add a new comment to <%= campground.name %></h1>
    <div class="row">
        <div class="yelp-form">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST" style="margin: 30px auto;">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" rows="3" placeholder="comment text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>